@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F4F6F8];
  }

  h1 {
    @apply text-[1.75rem];
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-sm font-bold;
  }

  p {
    @apply text-base leading-relaxed;
  }
}

body {
  overflow-x: hidden;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}