@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
  }

  h1 {
    @apply text-[1.75rem];
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-sm font-bold;
  }

  p {
    @apply text-base leading-relaxed;
  }

  input {
    background: transparent;
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.light {
  --mainBackground: 244, 246, 248, 1;
  --background: 255, 255, 255, 1;
  --primary: 89, 100, 224, 1;
  --secondary: 89, 100, 224, 1;
  --textWhite: 255, 255, 255, 1;
  --textContent: 25, 32, 45, 1;
  --textHeader: 25, 32, 45, 1;
  --secondaryTextContent: 110, 128, 152, 1;
  --hover: 147, 155, 244, 1;
}

.dark {
  --mainBackground: 18, 23, 33, 1;
  --background: 25, 32, 45, 1;
  --primary: 89, 100, 224, 1;
  --secondary: 89, 100, 224, 1;
  --textWhite: 255, 255, 255, 1;
  --textContent: 255, 255, 255, 1;
  --textHeader: 255, 255, 255, 1;
  --secondaryTextContent: 157, 174, 194, 1;
  --hover: 147, 155, 244, 1;
}